body {
    background-color: pink;
    align-items: center;
    font-family: Patrick Hand;
}

fieldset:first-child {
    margin-top: 25px;
}

fieldset:last-child {
    margin-bottom: 25px;
}

p {
    margin-top: 25px;
}

textarea {
    margin-top: 25px;
    vertical-align: top;
    align-items: flex-end;
}

footer {
    text-align: center;
    margin-top: 50px;
}

button {
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    margin-top: 25px;
    background-color: hotpink;
}

h1 {
    color: hotpink;
    text-align: center;
}
